<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="Cache-control" content="no-cache">

      <link rel="stylesheet" href="{{base_url()}}/libs/fontawesome/css/font-awesome.min.css" />
      <link rel="stylesheet" href="{{base_url()}}/libs/bootstrap/css/bootstrap.min.css" />
      <link rel="stylesheet" href="{{base_url()}}/css/base.css" />

      {% block head %}
        <title>{{project_name}} Telemetry - {% block title %}{% endblock %}</title>
      {% endblock %}
   </head>
   <body class="{{ class }}">
      {% include "partials/alerts.html.twig" %}
      {% include "partials/nav.html.twig" %}

      <div id="page">
         {% block header %}
         <div class="page-header {{myheader.class}}">
            <div class="container">
               <h1>{{myheader.title | raw}}</h1>
               <p>{{myheader.text | raw}}</p>
            </div>
         </div>
         {% endblock %}

         <div class="page-content">
            {% block content %}{% endblock %}
         </div>
      </div>

      {% include "partials/footer.html.twig" %}

      <script src="{{base_url()}}/libs/jquery/jquery.min.js"></script>
      <script src="{{base_url()}}/libs/tether/tether.min.js"></script>
      <script src="{{base_url()}}/libs/bootstrap/js/bootstrap.min.js"></script>
      <script src="{{base_url()}}/js/base.js"></script>
      {% block userscripts %}
        <script type="text/javascript">
          // if this div exist
          if($("#conn-form-nav")) {
            //Call AJAX to load connection form on navbar
            $.ajax({
                type: "get",
                url: '{{ path_for("connection") }}',
                success: function(result){
                    $("#conn-form-nav").html(result);
                },
                error : function(result){
                    $("#conn-form-nav").html("Connection form failed !");
                }
            });
          }
        </script>
      {% endblock %}
    </body>
</html>
