{% extends "partials/base.html.twig" %}
{% block title %}Admin{% endblock %}

{% block header %}
{% set myheader= {
   'title': '<i class="fa fa-cog"></i> Admin',
   'text':  'Manage users',
   'class': 'adminUsersManagement'
} %}
{{ parent() }}
{% include('partials/adminNav.html.twig') %}
{% endblock %}

{% block content %}
<div class="container">

   <table class="table table-striped">
      <thead>
         <tr>
            <td>
               	Username
            </td>
            <td>
            	Email
            </td>
            <td>
            	References count
            </td>
            <td>
            	Admin
            </td>
            <td>
            	Actions
            </td>
         </tr>
      </thead>
      <tbody>
         {% for user in users %}
         <tr>
            <td>
                 {{ user.username }}
            </td>
            <td>
            	{{ user.email }}
            </td>
            <td>
            	{{ user.references|length }}
            </td>
            <td>
	           	{% if user.is_admin == true %}Yes
	            {% else %}No
	            {% endif %}
            </td>
            <td>

            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>

</div>
{% endblock %}

{% block userscripts %}
{{ parent() }}


{% endblock %}
