{% extends "partials/base.html.twig" %}
{% block title %}Admin{% endblock %}
{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="{{base_url()}}/js/admin_action.js"></script>
{% endblock %}
{% block header %}
{% set myheader= {
   'title': '<i class="fa fa-cog"></i> Admin',
   'text':  'Manage users',
   'class': 'adminUsersManagement'
} %}
{{ parent() }}
{% include('partials/adminNav.html.twig') %}
{% endblock %}

{% block content %}
<div class="container">

   <table class="table table-striped">
      <thead>
         <tr>
            <td>
               	Username
            </td>
            <td>
            	Email
            </td>
            <td>
            	References count
            </td>
            <td>
            	Admin
            </td>
            <td>
            	Actions
            </td>
         </tr>
      </thead>
      <tbody>
         {% for user in users %}
         <tr>
            <td>
                 {{ user.username }}
            </td>
            <td>
            	{{ user.email }}
            </td>
            <td>
            	{{ user.refs_count }}
            </td>
            <td>
	           	{% if user.is_admin == true %}Yes
	            {% else %}No
	            {% endif %}
            </td>
            <td>
               <button class="btn btn-primary" data-toggle="modal" data-target="#admin_manage_user_action_modal" onclick="usersManagementModal({{ user }})">Actions</button>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>
   <nav aria-label="Page navigation">
  {{ users.render() |raw }}
  </nav>

<!-- Delete your reference modal -->
  <form method="post" action="{{ path_for('actionProfileReferenceDelete') }}">
    <div class="modal fade" id="admin_manage_user_action_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title">Choose your action</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body" id="modal_body_profile_delete">
            <select>
               {% for action in actions %}
                  <option value="{{ action.code }}">{{ action.msg }}</option>
               {% endfor %}
            </select>
            <input type="hidden" name="user_id" id="input_form_user_action_user_id">
          </div>
          <div class="modal-footer">
            <button class="btn btn-outline-primary" >DO IT</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    {{ csrf.field | raw }}
  </form>

</div>
{% endblock %}

{% block userscripts %}
{{ parent() }}


{% endblock %}
