{% extends "partials/base.html.twig" %}
{% block title %}References{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="{{base_url()}}/libs/country-flags-sass/flags.css" />
    <link rel="stylesheet" href="{{base_url()}}/libs/select2/css/select2.min.css" />
{% endblock %}

{% block header %}
{% set myheader= {
   'title': '<i class="fa fa-users"></i> References',
   'text':  'We maintain a public database of registered %s installations.
             You may want register <a id="register" href="#" data-toggle="modal" data-target="#register_reference">your own</a>!'|format(project_name),
} %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="container">
    <h4>
        {{total}} users already registered their {{project_name}} installations
        {% if filters.count is defined and filters.count != total %} <span class="small">({{ filters.count }} found)</span>{% endif %}
    </h4>

    <form id="filter_references" action="{{ path_for('filterReferences', {'action': 'filter'}) }}" method="POST">
        <div class="row">
            <div class="col">
                <input name="filter_name" id="filter_name" type="text" class="form-control form-control-sm" placeholder="Name" value="{{filters.name|default('')}}">
            </div>
            <div class="col">
                <select class="form-control"
                        id="filter_country"
                        name="filter_country"
                        placeholder="Select a country">
                    <option>Select a country</option>
                    {% for country in countries %}
                    <option value="{{country.cca2}}"{% if filters.country is defined and filters.country == country.cca2 %} selected="selected"{% endif %}>{{country.name.common}}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="col-md-auto">
                <button type="submit" class="btn btn-dark btn-sm">
                    <i class="fa fa-search"></i>
                    <span class="sr-only">Search</span>
                </button>
                <button type="submit" class="btn btn-sm" name="reset_filters">
                    <i class="fa fa-trash-o"></i>
                    <span class="sr-only">Reset</span>
                </button>
            </div>

        </div>
        {{ csrf.field | raw }}
    </form>

   <table class="table table-striped glpi_references">
      <thead>
         <tr>
            <td>
               {% if orderby == 'name' %}<i class="fa fa-sort-{{sort}}"></i>{% endif %}
               <a href="{{ path_for('filterReferences', {'action': 'order', 'value': 'name'}) }}">Name</a>
            </td>
            <td>
               {% if orderby == 'country' %}<i class="fa fa-sort-{{sort}}"></i>{% endif %}
               <a href="{{ path_for('filterReferences', {'action': 'order', 'value': 'country'}) }}">Country</a>
            </td>
    {% if dyn_refs|length > 0 %}
        {% for key, labels in dyn_refs %}
            <td>
               {% if orderby == key %}<i class="fa fa-sort-{{sort}}"></i>{% endif %}
               <a href="{{ path_for('filterReferences', {'action': 'order', 'value': key}) }}">{{labels.short_label}}</a>
            </td>
        {% endfor %}
    {% endif %}
            <td>
               {% if orderby == 'created_at' %}<i class="fa fa-sort-{{sort}}"></i>{% endif %}
               <a href="{{ path_for('filterReferences', {'action': 'order', 'value': 'created_at'}) }}">Registration date</a>
            </td>
            <td>
               Comment
            </td>
         </tr>
      </thead>
      <tbody>
         {% for reference in references %}
         <tr>
             <td>
                 {% if reference.url %}
                     <a href="{{reference.url}}" target="_blank">{{reference.name}}</a>
                 {% else %}
                     {{reference.name}}
                 {% endif %}
            </td>
            <td>
               <span class="flag flag-{{reference.country}}" title="{{reference.country}}"></span>
            </td>
    {% if dyn_refs|length > 0 %}
        {% for key in dyn_refs|keys %}
            <td>{{reference[key]}}</td>
        {% endfor %}
    {% endif %}
            <td>{{reference.created_at|date("Y-m-d") }}</td>
            <td>
               <div class="elipsis" title="{{reference.comment}}">
                  {{reference.comment}}
               </div>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>

   <nav aria-label="Page navigation">
      {{ references.render() |raw }}
   </nav>

   <form method="post">
   <div class="modal fade" id="register_reference">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Register your own instance</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label class="sr-only" for="name">Name (company name)</label>
                  <input class="form-control form-control-sm" type="text"
                        required="required"
                        name="name" id="name"
                        placeholder="Your (company) name">
               </div>

               <div class="form-group">
                  <label class="sr-only" for="url">Url</label>
                  <input class="form-control form-control-sm" type="url"
                         name="url" id="url"
                         placeholder="URL">
               </div>

               <div class="form-group">
                  <label class="sr-only" for="countries_select">Country</label>
                  <select class="form-control"
                          id="countries_select"
                          name="country"
                          placeholder="Country">
                     <option></option>
                     {% for country in countries %}
                     <option value="{{country.cca2}}">{{country.name.common}}</option>
                     {% endfor %}
                  </select>
               </div>

               <div class="form-group">
                  <label class="sr-only" for="phone">Phone</label>
                  <input class="form-control form-control-sm" type="text"
                         name="phone" id="phone"
                         placeholder="Phone">
               </div>

               <div class="form-group">
                  <label class="sr-only" for="email">Email</label>
                  <input class="form-control form-control-sm" type="email"
                         name="email" id="email"
                         placeholder="Email">
               </div>

               <div class="form-group">
                  <label class="sr-only" for="referent">Referent name</label>
                  <input class="form-control form-control-sm" type="text"
                         name="referent" id="referent"
                         placeholder="Referent name">
               </div>

    {% if dyn_refs|length > 0 %}
        {% for key, labels in dyn_refs %}
               <div class="form-group">
                  <label class="sr-only" for="{{key}}">{{labels.label}}</label>
                  <input class="form-control form-control-sm" type="number"
                         name="{{key}}" id="{{key}}"
                         min="0"
                         placeholder="{{labels.label}}">
               </div>
        {% endfor %}
    {% endif %}

               <div class="form-group">
                  <label class="sr-only" for="comment">Comment</label>
                  <textarea class="form-control form-control-sm"
                            name="comment" id="comment"
                            rows="6"
                            placeholder="Your message"></textarea>
               </div>
    {% if mode != 'DEV' %}
               <div class="g-recaptcha" data-sitekey="{{ recaptchasitekey }}"></div>
    {% endif %}
            </div>
            <div class="modal-footer">
               <input type="hidden" name="uuid" value="{{uuid}}" />
               <button type="submit" class="btn btn-outline-primary">Register</button>
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
         </div>
      </div>
   </div>
   {{ csrf.field | raw }}
   </form>
</div>
{% endblock %}

{% block userscripts %}
{{ parent() }}

{% if mode != 'DEV' %}
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endif %}
<script src="{{base_url()}}/libs/select2/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {
    $("#countries_select").select2({
        templateSelection: formatState,
        templateResult: formatState,
        placeholder: "Country",
        width: '100%',
        dropdownParent: $('#register_reference')
    });

    $("#filter_country").select2({
        templateSelection: formatState,
        templateResult: formatState,
        width: '100%',
    });


   // if get parameter showmodal is present, show the corresponding modal
   {% if showmodal == true %}
   $("#register_reference").modal('show');
   {% endif %}
});
</script>
{% endblock %}
