{% extends "partials/base.html.twig" %}
{% block title %}References{% endblock %}
{% block head %}
    {{ parent() }}
    <link rel="stylesheet" href="libs/country-flags-sass/flags.css" />
    <link rel="stylesheet" href="libs/select2/css/select2.min.css"
{% endblock %}

{% block header %}
{% set myheader= {
   'title': '<i class="fa fa-users"></i> References',
   'text':  'We maintain a public database of registered %s installations.
             You may want register <a id="register" href="#" data-toggle="modal" data-target="#register_reference">your own</a>!'|format(project_name),
} %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="container">

    <h4>{{total}} users already registered their {{project_name}} installation</h4>

   <table class="table table-striped glpi_references">
      <thead>
         <tr>
            <td>
               {% if orderby == 'name' %}<i class="fa fa-sort-{{sort}}"></i>{% endif %}
               <a href='./reference?orderby=name'>Name</a>
            </td>
            <td>
               {% if orderby == 'country' %}<i class="fa fa-sort-{{sort}}"></i>{% endif %}
               <a href='./reference?orderby=country'>Country</a>
            </td>
    {% if dyn_refs|length > 0 %}
        {% for key, labels in dyn_refs %}
            <td>
               {% if orderby == key %}<i class="fa fa-sort-{{sort}}"></i>{% endif %}
               <a href='./reference?orderby={{key}}'>{{labels.short_label}}</a>
            </td>
        {% endfor %}
    {% endif %}
            <td>
               {% if orderby == 'created_at' %}<i class="fa fa-sort-{{sort}}"></i>{% endif %}
               <a href='./reference?orderby=created_at'>Registration date</a>
            </td>
            <td>
               Comment
            </td>
         </tr>
      </thead>
      <tbody>
         {% for reference in references %}
         <tr>
            <td>{{reference.name}}</td>
            <td>
               <span class="flag flag-{{reference.country}}" title="{{reference.country}}"></span>
            </td>
    {% if dyn_refs|length > 0 %}
        {% for key in dyn_refs|keys %}
            <td>{{reference[key]}}</td>
        {% endfor %}
    {% endif %}
            <td>{{reference.created_at|date("Y-m-d") }}</td>
            <td>
               <div class="elipsis" title="{{reference.comment}}">
                  {{reference.comment}}
               </div>
            </td>
         </tr>
         {% endfor %}
      </tbody>
   </table>

   <nav aria-label="Page navigation">
      {{ references.render() |raw }}
   </nav>

   <form method="post">
   <div class="modal fade" id="register_reference">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title">Register your own instance</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <div class="alert alert-warning" role="alert" id="warning-country">
                  <strong>Warning!</strong> You may have note that your adblocker forbid a freegeoip url. We use this service only to locate your country and prefill the dropdown bellow!
               </div>
               <div class="form-group">
                  <label class="sr-only" for="name">Name (company name)</label>
                  <input class="form-control form-control-sm" type="text"
                        required="required"
                        name='name'
                        placeholder="Your (company) name">
               </div>

               <div class="form-group">
                  <label class="sr-only" for="url">Url</label>
                  <input class="form-control form-control-sm" type="url"
                         name='url'
                         placeholder="URL">
               </div>

               <div class="form-group">
                  <label class="sr-only" for="country">Country</label>
                  <select class="form-control"
                          id="countries_select"
                          name="country"
                          placeholder="Country">
                     <option></option>
                     {% for country in countries %}
                     <option value="{{country.cca2}}">{{country.name.common}}</option>
                     {% endfor %}
                  </select>
               </div>

               <div class="form-group">
                  <label class="sr-only" for="phone">Phone</label>
                  <input class="form-control form-control-sm" type="text"
                         name='phone'
                         placeholder="Phone">
               </div>

               <div class="form-group">
                  <label class="sr-only" for="email">Email</label>
                  <input class="form-control form-control-sm" type="email"
                         name="email"
                         placeholder="Email">
               </div>

               <div class="form-group">
                  <label class="sr-only" for="referent">Referent name</label>
                  <input class="form-control form-control-sm" type="text"
                         name="referent"
                         placeholder="Referent name">
               </div>

    {% if dyn_refs|length > 0 %}
        {% for key, labels in dyn_refs %}
               <div class="form-group">
                  <label class="sr-only" for="{{key}}">{{labels.label}}</label>
                  <input class="form-control form-control-sm" type="number"
                         name="{{key}}"
                         min="0"
                         placeholder="{{labels.label}}">
               </div>
        {% endfor %}
    {% endif %}

               <div class="form-group">
                  <label class="sr-only" for="comment">Comment</label>
                  <textarea class="form-control form-control-sm"
                            name="comment"
                            rows="6"
                            placeholder="Your message"></textarea>
               </div>
               <div class="g-recaptcha" data-sitekey="{{ recaptchasitekey }}"></div>
            </div>
            <div class="modal-footer">
               <input type="hidden" name="uuid" value="{{uuid}}" />
               <button type="submit" class="btn btn-outline-primary">Register</button>
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
         </div>
      </div>
   </div>
   {{ csrf.field | raw }}
   </form>
</div>
{% endblock %}

{% block userscripts %}
{{ parent() }}

<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="libs/select2/js/select2.min.js"></script>

<script type="text/javascript">

$(document).ready(function() {
    var countries_s2 = $("#countries_select").select2({
        templateSelection: formatState,
        templateResult: formatState,
        placeholder: "Country",
        width: '100%',
        dropdownParent: $('#register_reference')
    });

   getCountryCode.done(function(result) {
      $("#warning-country").remove();
      countries_s2
         .val(result.country_code)
         .trigger("change")
   });

   // if get parameter showmodal is present, show the corresponding modal
   {% if showmodal == true %}
   $("#register_reference").modal('show');
   {% endif %}
});
</script>
{% endblock %}
