{% extends "partials/base.html.twig" %}
{% block title %}Telemetry{% endblock %}
{% block head %}
   {{ parent() }}
   <link rel="stylesheet" href="{{base_url()}}/libs/leaflet/leaflet.css" />
   <link rel="stylesheet" href="{{base_url()}}/libs/prism/prism.css" />

   <link rel="stylesheet" href="{{base_url()}}/css/chart-palette.css" />
   <link rel="stylesheet" href="{{base_url()}}/css/telemetry.css" />

{% endblock %}

{% block header %}

{% set myheader= {
   'title': header_title|default('<i class="fa fa-bar-chart"></i> Telemetry'),
   'text':  header_text|default('Since version 9.2 of GLPI, we collect anonymous
             <a id="register" href="#" data-toggle="modal" data-target="#json_data_example">data</a> from instance of voluntary users.
             Here is some representations of these data.
             <br>
             As we don&apos;t have many data at the moment, the charts will be temporary simple. We&apos;ll complete this page soon.')
} %}
{{ parent() }}
{% endblock %}

{% block content %}

<div>
   <form class='telemetry_form'>
      <fieldset class="form-group">
         <legend><label for="years">Data since</label></legend>
         <select class="form-control" name="years" id="years" onchange='this.form.submit();'>
            <option value='-1'>always</option>
            {% for i in 1..20 %}
            <option value='{{i}}'
                    {% if form.years == i %} selected="selected"{% endif %}>
               {{i}} year(s)
            </option>
            {% endfor %}
         </select>
      </fieldset>
   </form>

   <div class="dashboard">

    {% if nb_telemetry_entries %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id':    'nb_telemetry_entries',
                        'title': '# Telemetry: data sent',
                        'text':  '',
                        'data':  nb_telemetry_entries,
                        'expandable': false
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if nb_reference_entries %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id':    'nb_reference_entries',
                        'title': '# References added',
                        'text':  '',
                        'data':  nb_reference_entries,
                        'expandable': false
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if references_countries %}
      <div class="chart chart-2 chart-2h">
      {% set vars = {'chart': {
                        'id':    'references_countries',
                        'title': 'Countries of references',
                        'text':  '',
                        'data':  references_countries
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if php_versions %}
      <div class="chart chart-2">
      {% set vars = {'chart': {
                        'id':    'php_versions',
                        'title': 'PHP versions',
                        'text':  'Grouped on major versions',
                        'data':  php_versions
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if glpi_versions %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id':    'glpi_versions',
                        'title': '%s versions'|format(project_name),
                        'text':  versionchart_text|default('<i class="fa fa-exclamation-circle"></i> we don&apos;t have any data for versions prior to 9.2'),
                        'data':  glpi_versions
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if top_plugins %}
        <script type="text/javascript">
            var _allPluginsURL = '{{ path_for('allPlugins') }}';
        </script>
      <div class="chart" data-expand-callback="pluginsExpanded">
      {% set vars = {'chart': {
                        'id':    'top_plugins',
                        'title': 'Top plugins',
                        'text':  'Only the top 5 is displayed',
                        'data':  top_plugins
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if os_family %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id':    'os_family',
                        'title': 'Operating systems',
                        'text':  'By family',
                        'data':  os_family
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if web_engines %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id':    'web_engines',
                        'title': 'Web engines',
                        'text':  '',
                        'data':  web_engines
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if db_engines %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id':    'db_engines',
                        'title': 'DB engines',
                        'text':  '',
                        'data':  db_engines
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if default_languages %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id':    'default_languages',
                        'title': 'Default languages',
                        'text':  '',
                        'data':  default_languages
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

    {% if install_modes %}
      <div class="chart">
      {% set vars = {'chart': {
                        'id':    'install_modes',
                        'title': 'Installation modes',
                        'text':  '',
                        'data':  install_modes
                     }} %}
      {% include 'partials/chart.html.twig' with vars %}
      </div>
    {% endif %}

   </div>
</div>

<div class="modal fade" id="json_data_example">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title">Example of Json data sent by {{ project_name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <pre><code class="language-json">{{json_data_example | raw}}</code></pre>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block userscripts %}
{{ parent() }}

<script src="{{base_url()}}/libs/plotly/plotly.min.js"></script>
<script src="{{base_url()}}/libs/masonry.pkgd/masonry.pkgd.min.js"></script>
<script src="{{base_url()}}/libs/prism/prism.js"></script>
{% if references_countries %}
{# Get map provider from configuration #}
<script type="text/javascript">
    var map_provider = '{{ leafletprovider.name }}';
    var map_provider_conf = {{ leafletprovider.config|raw }};
</script>
<script src="{{base_url()}}/libs/leaflet/leaflet.js"></script>
<script src="{{base_url()}}/libs/spin.js/spin.min.js"></script>
<script src="{{base_url()}}/libs/leaflet.spin/leaflet.spin.min.js"></script>
<script src="{{base_url()}}/libs/leaflet-providers/leaflet-providers.js"></script>
<script src="{{base_url()}}/js/references_countries.js"></script>
{% endif %}
<script src="{{base_url()}}/js/telemetry.js"></script>

{% endblock %}
